@charset "UTF-8";
/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
header nav {
  background-color: #291307; }
  header nav .contenidoHeader .logo {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
    text-decoration: none; }
    header nav .contenidoHeader .logo:hover {
      color: white;
      box-shadow: 0 4px 16px #a0ac31;
      transition: all 0.2s ease; }
  header nav .contenidoHeader .navbar-toggler {
    background-color: #291307; }
    header nav .contenidoHeader .navbar-toggler span {
      background-color: #291307; }
  header nav .contenidoHeader .contenidoHeaderPages .navbar-nav a {
    margin: 2px;
    color: #ffffff;
    font-size: 1.2rem; }
    header nav .contenidoHeader .contenidoHeaderPages .navbar-nav a:hover {
      color: #ffffff;
      font-weight: bold; }

.nav-link:hover,
.nav-link:active {
  letter-spacing: 2px; }

.nav-link:after,
.nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0; }

.nav-link:hover:after,
.nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%; }

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%; }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------
KEYFRAMES 
---------------------------------------------------------------------------------------------*/
@keyframes cambiarColores {
  10% {
    color: #571845; }
  25% {
    color: #900c3e; }
  50% {
    color: #c70039; }
  75% {
    color: #ff5733; }
  75% {
    color: #e0ff00; } }

/*--------------------------------------------------------------------------------------------
MIXIN
---------------------------------------------------------------------------------------------*/
footer {
  background-color: #291307;
  border-top: 1px solid #4e4c534d;
  padding-top: 2px; }
  footer .contenedorFooter .footerInformativo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "footerContactos footerEnlaces footerSuscripcion" "footerReservados footerReservados footerReservados"; }
    footer .contenedorFooter .footerInformativo .footerContactos {
      grid-area: footerContactos; }
      footer .contenedorFooter .footerInformativo .footerContactos .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #e0ff00; }
      footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
        font-size: 12px;
        text-align: center; }
      footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
        display: flex;
        justify-content: center; }
        footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
          color: #e0ff00; }
    footer .contenedorFooter .footerInformativo .footerEnlaces {
      grid-area: footerEnlaces;
      display: flex;
      flex-direction: column; }
      footer .contenedorFooter .footerInformativo .footerEnlaces .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #e0ff00; }
      footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo {
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        padding-bottom: 4px; }
        footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo:hover {
          text-decoration: underline; }
    footer .contenedorFooter .footerInformativo .footerSuscripcion {
      grid-area: footerSuscripcion; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #e0ff00;
        margin-bottom: 8px; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion .formularioSuscripcion {
        width: 50%;
        margin: auto; }
        footer .contenedorFooter .footerInformativo .footerSuscripcion .formularioSuscripcion button {
          background-color: #35241e; }
    footer .contenedorFooter .footerInformativo .footerReservados {
      grid-area: footerReservados;
      text-align: center;
      border-top: 1px solid #4e4c534d;
      padding-top: 2px; }
      footer .contenedorFooter .footerInformativo .footerReservados p {
        padding-top: 4px;
        margin-bottom: 0;
        font-family: "Lato";
        font-size: 12px; }

@media (max-width: 768px) {
  footer {
    background-color: #291307; }
    footer .contenedorFooter {
      padding: 0 16px; }
      footer .contenedorFooter .footerInformativo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-areas: "footerContactos footerEnlaces"  "footerSuscripcion footerSuscripcion"  "footerReservados footerReservados"; }
        footer .contenedorFooter .footerInformativo .footerContactos {
          grid-area: footerContactos; }
          footer .contenedorFooter .footerInformativo .footerContactos .titulo {
            font-weight: bold;
            width: 100%;
            text-align: center;
            color: #e0ff00; }
          footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
            font-size: 12px;
            text-align: center; }
          footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
            display: flex;
            justify-content: center; }
            footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
              color: #e0ff00; }
        footer .contenedorFooter .footerInformativo .footerEnlaces {
          grid-area: footerEnlaces;
          display: flex;
          flex-direction: column; }
          footer .contenedorFooter .footerInformativo .footerEnlaces .titulo {
            font-weight: bold;
            width: 100%;
            text-align: center;
            color: #e0ff00; }
          footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo {
            font-family: "Lato";
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: #ffffff;
            margin-bottom: 4px; }
        footer .contenedorFooter .footerInformativo .footerSuscripcion {
          grid-area: footerSuscripcion;
          display: none; }
        footer .contenedorFooter .footerInformativo .footerReservados {
          grid-area: footerReservados;
          text-align: center;
          border-top: 1px solid #4e4c534d;
          padding-top: 2px; }
          footer .contenedorFooter .footerInformativo .footerReservados p {
            margin-bottom: 0; } }

@media (max-width: 480px) {
  footer {
    background-color: #291307; }
    footer .contenedorFooter {
      padding: 0 16px; }
      footer .contenedorFooter .footerInformativo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-areas: "footerContactos footerContactos"  "footerSuscripcion footerSuscripcion"  "footerReservados footerReservados"; }
        footer .contenedorFooter .footerInformativo .footerContactos {
          grid-area: footerContactos; }
          footer .contenedorFooter .footerInformativo .footerContactos .titulo {
            font-weight: bold;
            width: 100%;
            text-align: center;
            color: #e0ff00; }
          footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
            font-size: 12px;
            text-align: center; }
          footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
            display: flex;
            justify-content: center; }
            footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
              color: #e0ff00; }
        footer .contenedorFooter .footerInformativo .footerEnlaces {
          grid-area: footerEnlaces;
          display: none; }
        footer .contenedorFooter .footerInformativo .footerSuscripcion {
          grid-area: footerSuscripcion;
          display: none; }
        footer .contenedorFooter .footerInformativo .footerReservados {
          grid-area: footerReservados;
          text-align: center;
          border-top: 1px solid #4e4c534d;
          padding-top: 2px; }
          footer .contenedorFooter .footerInformativo .footerReservados p {
            margin-bottom: 0; } }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
.seccionServicios div .tituloServicios {
  background-color: #35241e; }

.seccionServicios div .card {
  background-color: #35241e; }
  .seccionServicios div .card .imgServicios {
    background-color: #35241e; }
  .seccionServicios div .card .contenidoServicio {
    background-color: #35241e; }
    .seccionServicios div .card .contenidoServicio h2 {
      background-color: #35241e; }
    .seccionServicios div .card .contenidoServicio h3 {
      background-color: #35241e; }
    .seccionServicios div .card .contenidoServicio p {
      font-family: "Lato";
      background-color: #35241e; }

.seccionUbicacion div h2 {
  background-color: #35241e; }

/*-------------------------------------------------------------------
 TAMAÑO ORIGINAL
 --------------------------------------------------------------------*/
.containerNosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
  .containerNosotros .seccionImagen {
    grid-area: seccionImagen; }
    .containerNosotros .seccionImagen .fotoInicialNos {
      width: 100%;
      border: none; }
  .containerNosotros .seccionNosotros {
    grid-area: seccionNosotros; }
    .containerNosotros .seccionNosotros .tituloNosotros {
      text-align: center;
      background-color: #4e4c534d; }
    .containerNosotros .seccionNosotros .descripcionNosotros {
      margin-right: 16px;
      margin-left: 16px;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: "Lato"; }
  .containerNosotros .seccionMultimedia {
    grid-area: seccionMultimedia; }
    .containerNosotros .seccionMultimedia .tituloMulti {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 8px;
      background-color: #4e4c534d; }
    .containerNosotros .seccionMultimedia .contenedorVideos {
      display: flex;
      justify-content: space-between; }
      .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
        border: none;
        width: 40%;
        margin: auto; }
      .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
        border: none;
        width: 40%;
        margin: auto; }
  .containerNosotros .seccionProveedores {
    grid-area: seccionProveedores;
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: "tituloProv tituloProv tituloProv tituloProv" "proveedor1 proveedor2 proveedor3 proveedor4"; }
    .containerNosotros .seccionProveedores .tituloProv {
      grid-area: tituloProv;
      text-align: center;
      margin-top: 16px;
      background-color: #35241e; }
    .containerNosotros .seccionProveedores .proveedor1 {
      grid-area: proveedor1;
      box-shadow: 10px 10px 10px 0px #e5f876;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px;
      background-color: #27282d; }
      .containerNosotros .seccionProveedores .proveedor1 span {
        background-color: #35241e; }
      .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor2 {
      grid-area: proveedor2;
      box-shadow: 10px 10px 10px 0px #e5f876;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px;
      background-color: #27282d; }
      .containerNosotros .seccionProveedores .proveedor2 span {
        background-color: #35241e; }
      .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor3 {
      grid-area: proveedor3;
      box-shadow: 10px 10px 10px 0px #e5f876;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px;
      background-color: #27282d; }
      .containerNosotros .seccionProveedores .proveedor3 span {
        background-color: #35241e; }
      .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor4 {
      grid-area: proveedor4;
      box-shadow: 10px 10px 10px 0px #e5f876;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px;
      background-color: #27282d; }
      .containerNosotros .seccionProveedores .proveedor4 span {
        background-color: #35241e; }
      .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }

/*-------------------------------------------------------------------
 MEDIA 1
 --------------------------------------------------------------------*/
@media (max-width: 768px) {
  .containerNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
    .containerNosotros .seccionImagen {
      grid-area: seccionImagen; }
      .containerNosotros .seccionImagen .fotoInicialNos {
        max-height: 400px;
        width: 100%;
        border: none; }
    .containerNosotros .seccionNosotros {
      grid-area: seccionNosotros; }
      .containerNosotros .seccionNosotros .tituloNosotros {
        text-align: center;
        background-color: #4e4c534d; }
      .containerNosotros .seccionNosotros .descripcionNosotros {
        margin-right: 16px;
        margin-left: 16px; }
    .containerNosotros .seccionMultimedia {
      grid-area: seccionMultimedia; }
      .containerNosotros .seccionMultimedia .tituloMulti {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4e4c534d; }
      .containerNosotros .seccionMultimedia .contenedorVideos {
        display: flex;
        justify-content: space-between; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
          border: none;
          width: 40%;
          margin: auto; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
          border: none;
          width: 40%;
          margin: auto; }
    .containerNosotros .seccionProveedores {
      grid-area: seccionProveedores;
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "tituloProv tituloProv " "proveedor1 proveedor2"  "proveedor3 proveedor4"; }
      .containerNosotros .seccionProveedores .tituloProv {
        grid-area: tituloProv;
        text-align: center;
        margin-top: 16px;
        background-color: #4e4c534d; }
      .containerNosotros .seccionProveedores .proveedor1 {
        grid-area: proveedor1;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor1 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor2 {
        grid-area: proveedor2;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor2 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor3 {
        grid-area: proveedor3;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor3 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor4 {
        grid-area: proveedor4;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor4 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; } }

/*-------------------------------------------------------------------
 MEDIA 2
 --------------------------------------------------------------------*/
@media (max-width: 480px) {
  .containerNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
    .containerNosotros .seccionImagen {
      grid-area: seccionImagen;
      display: none; }
      .containerNosotros .seccionImagen .fotoInicialNos {
        max-height: 400px;
        width: 100%;
        border: none; }
    .containerNosotros .seccionNosotros {
      grid-area: seccionNosotros; }
      .containerNosotros .seccionNosotros .tituloNosotros {
        text-align: center;
        background-color: #4e4c534d; }
      .containerNosotros .seccionNosotros .descripcionNosotros {
        margin-right: 16px;
        margin-left: 16px; }
    .containerNosotros .seccionMultimedia {
      grid-area: seccionMultimedia; }
      .containerNosotros .seccionMultimedia .tituloMulti {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4e4c534d; }
      .containerNosotros .seccionMultimedia .contenedorVideos {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
          border: none;
          width: 80%;
          margin-top: 16px; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
          border: none;
          width: 80%;
          margin-top: 16px; }
    .containerNosotros .seccionProveedores {
      grid-area: seccionProveedores;
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "tituloProv" "proveedor1" "proveedor2"  "proveedor3"  "proveedor4"; }
      .containerNosotros .seccionProveedores .tituloProv {
        grid-area: tituloProv;
        text-align: center;
        margin-top: 16px;
        background-color: #4e4c534d; }
      .containerNosotros .seccionProveedores .proveedor1 {
        grid-area: proveedor1;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor1 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor2 {
        grid-area: proveedor2;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor2 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor3 {
        grid-area: proveedor3;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor3 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor4 {
        grid-area: proveedor4;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
        background-color: #27282d; }
        .containerNosotros .seccionProveedores .proveedor4 span {
          background-color: #35241e; }
        .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
          width: 150px;
          height: 150px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; } }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
.contenedorProductos .seccionBotellas h1 {
  background-color: #35241e; }

.contenedorProductos .seccionBotellas .card {
  box-shadow: 5px 5px 10px 0px #e5f876; }
  .contenedorProductos .seccionBotellas .card .footerProductos button {
    border: none; }
    .contenedorProductos .seccionBotellas .card .footerProductos button:hover {
      box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
      background-color: #fffaa8; }
      .contenedorProductos .seccionBotellas .card .footerProductos button:hover i {
        background-color: #fffaa8;
        color: black; }
    .contenedorProductos .seccionBotellas .card .footerProductos button i {
      font-size: 20px; }

.contenedorProductos .seccionLatas h2 {
  background-color: #35241e; }

.contenedorProductos .seccionLatas .card {
  box-shadow: 5px 5px 10px 0px #e5f876; }
  .contenedorProductos .seccionLatas .card .footerProductos button {
    border: none; }
    .contenedorProductos .seccionLatas .card .footerProductos button:hover {
      box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
      background-color: #fffaa8; }
      .contenedorProductos .seccionLatas .card .footerProductos button:hover i {
        background-color: #fffaa8;
        color: black; }
    .contenedorProductos .seccionLatas .card .footerProductos button i {
      font-size: 20px; }

.contenedorProductos .seccionPromos h2 {
  background-color: #35241e; }

.contenedorProductos .seccionPromos .card {
  box-shadow: 5px 5px 10px 0px #e5f876; }
  .contenedorProductos .seccionPromos .card .footerProductos button {
    border: none; }
    .contenedorProductos .seccionPromos .card .footerProductos button:hover {
      box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
      background-color: #fffaa8; }
      .contenedorProductos .seccionPromos .card .footerProductos button:hover i {
        background-color: white;
        color: black; }
    .contenedorProductos .seccionPromos .card .footerProductos button i {
      font-size: 20px; }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
h1 {
  padding-top: 8px;
  background-color: #35241e; }

.empresariales {
  padding-bottom: 8px; }
  .empresariales .contenedorEmpresariales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "empres1 empres2" "empres3 empres4"; }
    .empresariales .contenedorEmpresariales .empres1 {
      grid-area: empres1;
      display: flex;
      flex-direction: row;
      box-shadow: 5px 5px 10px 0px #e5f876; }
      .empresariales .contenedorEmpresariales .empres1 .contenedorImgProd .imgCatalogo {
        padding: 4px;
        width: 150px;
        height: 160px;
        margin: auto; }
      .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion .detalleEmpresariales {
        font-family: "Lato"; }
      .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion button {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion button:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .empresariales .contenedorEmpresariales .empres2 {
      grid-area: empres2;
      display: flex;
      flex-direction: row;
      box-shadow: 5px 5px 10px 0px #e5f876; }
      .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd .imgCatalogo {
        padding: 4px;
        width: 150px;
        height: 160px;
        margin: auto; }
      .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion .detalleEmpresariales {
        font-family: "Lato"; }
      .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion button {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion button:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .empresariales .contenedorEmpresariales .empres3 {
      grid-area: empres3;
      display: flex;
      flex-direction: row;
      box-shadow: 5px 5px 10px 0px #e5f876; }
      .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd .imgCatalogo {
        padding: 4px;
        width: 150px;
        height: 160px;
        margin: auto; }
      .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion .detalleEmpresariales {
        font-family: "Lato"; }
      .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion button {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion button:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }
    .empresariales .contenedorEmpresariales .empres4 {
      grid-area: empres4;
      display: flex;
      flex-direction: row;
      box-shadow: 5px 5px 10px 0px #e5f876; }
      .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd .imgCatalogo {
        padding: 4px;
        width: 150px;
        height: 160px;
        margin: auto; }
      .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion .detalleEmpresariales {
        font-family: "Lato"; }
      .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion button {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion button:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }

@media (max-width: 768px) {
  h1 {
    padding-top: 8px;
    background-color: #35241e; }
  .empresariales {
    padding-bottom: 8px; }
    .empresariales .contenedorEmpresariales {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "empres1"  "empres2" "empres3"  "empres4"; }
      .empresariales .contenedorEmpresariales .empres1 {
        grid-area: empres1;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px 0px #e5f876; }
        .empresariales .contenedorEmpresariales .empres1 .contenedorImgProd {
          display: flex;
          justify-content: center;
          min-width: 160px; }
          .empresariales .contenedorEmpresariales .empres1 .contenedorImgProd .imgCatalogo {
            padding: 4px;
            width: 150px;
            height: 160px;
            margin: auto; }
        .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion .detalleEmpresariales {
          font-family: "Lato"; }
        .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion button {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .empresariales .contenedorEmpresariales .empres1 .contenedorDescripcion button:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .empresariales .contenedorEmpresariales .empres2 {
        grid-area: empres2;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px 0px #e5f876; }
        .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd {
          display: flex;
          justify-content: center;
          min-width: 160px; }
          .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd .imgCatalogo {
            padding: 4px;
            width: 150px;
            height: 160px;
            margin: auto; }
        .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion .detalleEmpresariales {
          font-family: "Lato"; }
        .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion button {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .empresariales .contenedorEmpresariales .empres2 .contenedorDescripcion button:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .empresariales .contenedorEmpresariales .empres3 {
        grid-area: empres3;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px 0px #e5f876; }
        .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd {
          display: flex;
          justify-content: center;
          min-width: 160px; }
          .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd .imgCatalogo {
            padding: 4px;
            width: 150px;
            height: 160px;
            margin: auto; }
        .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion .detalleEmpresariales {
          font-family: "Lato"; }
        .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion button {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .empresariales .contenedorEmpresariales .empres3 .contenedorDescripcion button:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
      .empresariales .contenedorEmpresariales .empres4 {
        grid-area: empres4;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px 0px #e5f876; }
        .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd {
          display: flex;
          justify-content: center;
          min-width: 160px; }
          .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd .imgCatalogo {
            padding: 4px;
            width: 150px;
            height: 160px;
            margin: auto; }
        .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion .detalleEmpresariales {
          font-family: "Lato"; }
        .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion button {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .empresariales .contenedorEmpresariales .empres4 .contenedorDescripcion button:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; } }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
.tituloContacto {
  background-color: #35241e; }
  .tituloContacto h1 {
    background-color: #35241e; }

.seccionFormulario {
  font-size: 20px; }
  .seccionFormulario .formulario {
    background-color: #35241e; }
    .seccionFormulario .formulario .inputFormulario {
      background-color: #35241e; }
      .seccionFormulario .formulario .inputFormulario label {
        background-color: #35241e; }
    .seccionFormulario .formulario .contenedorBoton {
      background-color: #35241e; }
      .seccionFormulario .formulario .contenedorBoton .botonEnvio {
        background-color: #e0ff00;
        color: #393b43;
        font-weight: bold;
        border: none; }
        .seccionFormulario .formulario .contenedorBoton .botonEnvio:hover {
          box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
          background-color: #fffaa8; }

.seccionMediosDeContacto .contenedorDeRedes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  grid-column-gap: 16px;
  grid-template-areas: "red1 red2 red3 red4"; }

.seccionMediosDeContacto .red1 {
  grid-area: red1;
  box-shadow: 5px 5px 10px 0px #e5f876;
  background-color: #35241e; }
  .seccionMediosDeContacto .red1 .imgMediosDeContacto {
    background-color: #35241e;
    width: 120px; }
  .seccionMediosDeContacto .red1 .informacionMediosDeContacto {
    background-color: #35241e; }
    .seccionMediosDeContacto .red1 .informacionMediosDeContacto a {
      background-color: #35241e;
      text-decoration: none;
      font-size: 16px;
      animation-name: cambiarColores;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }

.seccionMediosDeContacto .red2 {
  grid-area: red2;
  box-shadow: 5px 5px 10px 0px #e5f876;
  background-color: #35241e; }
  .seccionMediosDeContacto .red2 .imgMediosDeContacto {
    background-color: #35241e;
    width: 120px; }
  .seccionMediosDeContacto .red2 .informacionMediosDeContacto {
    background-color: #35241e; }
    .seccionMediosDeContacto .red2 .informacionMediosDeContacto a {
      background-color: #35241e;
      text-decoration: none;
      font-size: 16px;
      animation-name: cambiarColores;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }

.seccionMediosDeContacto .red3 {
  grid-area: red3;
  box-shadow: 5px 5px 10px 0px #e5f876;
  background-color: #35241e; }
  .seccionMediosDeContacto .red3 .imgMediosDeContacto {
    background-color: #35241e;
    width: 120px; }
  .seccionMediosDeContacto .red3 .informacionMediosDeContacto {
    background-color: #35241e; }
    .seccionMediosDeContacto .red3 .informacionMediosDeContacto a {
      background-color: #35241e;
      text-decoration: none;
      font-size: 16px;
      animation-name: cambiarColores;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }

.seccionMediosDeContacto .red4 {
  grid-area: red4;
  box-shadow: 5px 5px 10px 0px #e5f876;
  background-color: #35241e; }
  .seccionMediosDeContacto .red4 .imgMediosDeContacto {
    background-color: #35241e;
    width: 120px; }
  .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
    background-color: #35241e; }
    .seccionMediosDeContacto .red4 .informacionMediosDeContacto a {
      background-color: #35241e;
      text-decoration: none;
      font-size: 16px;
      animation-name: cambiarColores;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }

@media (max-width: 768px) {
  .tituloContacto {
    background-color: #35241e; }
    .tituloContacto h1 {
      background-color: #35241e; }
  .seccionFormulario {
    font-size: 20px; }
    .seccionFormulario .formulario {
      background-color: #35241e; }
      .seccionFormulario .formulario .inputFormulario {
        background-color: #35241e; }
        .seccionFormulario .formulario .inputFormulario label {
          background-color: #35241e; }
      .seccionFormulario .formulario .contenedorBoton {
        background-color: #35241e; }
        .seccionFormulario .formulario .contenedorBoton .botonEnvio {
          background-color: #e0ff00;
          color: #393b43;
          font-weight: bold;
          border: none; }
          .seccionFormulario .formulario .contenedorBoton .botonEnvio:hover {
            box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
            background-color: #fffaa8; }
  .seccionMediosDeContacto {
    width: 100%; }
    .seccionMediosDeContacto .contenedorDeRedes {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 4px;
      grid-column-gap: 16px;
      grid-template-areas: "red1 red2"  "red3 red4"; }
    .seccionMediosDeContacto .red1 {
      grid-area: red1;
      background-color: #35241e; }
      .seccionMediosDeContacto .red1 .imgMediosDeContacto {
        background-color: #35241e;
        width: 120px;
        min-width: 120px; }
      .seccionMediosDeContacto .red1 .informacionMediosDeContacto {
        background-color: #35241e; }
        .seccionMediosDeContacto .red1 .informacionMediosDeContacto a {
          background-color: #35241e;
          text-decoration: none;
          font-size: 16px;
          animation-name: cambiarColores;
          animation-iteration-count: infinite;
          animation-duration: 6s;
          animation-timing-function: linear; }
    .seccionMediosDeContacto .red2 {
      grid-area: red2;
      background-color: #35241e; }
      .seccionMediosDeContacto .red2 .imgMediosDeContacto {
        background-color: #35241e;
        width: 120px;
        min-width: 120px; }
      .seccionMediosDeContacto .red2 .informacionMediosDeContacto {
        background-color: #35241e; }
        .seccionMediosDeContacto .red2 .informacionMediosDeContacto a {
          background-color: #35241e;
          text-decoration: none;
          font-size: 16px;
          animation-name: cambiarColores;
          animation-iteration-count: infinite;
          animation-duration: 6s;
          animation-timing-function: linear; }
    .seccionMediosDeContacto .red3 {
      grid-area: red3;
      background-color: #35241e; }
      .seccionMediosDeContacto .red3 .imgMediosDeContacto {
        background-color: #35241e;
        width: 120px;
        min-width: 120px; }
      .seccionMediosDeContacto .red3 .informacionMediosDeContacto {
        background-color: #35241e; }
        .seccionMediosDeContacto .red3 .informacionMediosDeContacto a {
          background-color: #35241e;
          text-decoration: none;
          font-size: 16px;
          animation-name: cambiarColores;
          animation-iteration-count: infinite;
          animation-duration: 6s;
          animation-timing-function: linear; }
    .seccionMediosDeContacto .red4 {
      grid-area: red4;
      background-color: #35241e; }
      .seccionMediosDeContacto .red4 .imgMediosDeContacto {
        background-color: #35241e;
        width: 120px;
        min-width: 120px; }
      .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
        background-color: #35241e; }
        .seccionMediosDeContacto .red4 .informacionMediosDeContacto a {
          background-color: #35241e;
          text-decoration: none;
          font-size: 16px;
          animation-name: cambiarColores;
          animation-iteration-count: infinite;
          animation-duration: 6s;
          animation-timing-function: linear; } }

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/
.empresariales .contenedorEmpresariales .empres1 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres2 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres3 .contenedorImgProd, .empresariales .contenedorEmpresariales .empres4 .contenedorImgProd, .seccionMediosDeContacto, .seccionMediosDeContacto .red1 .informacionMediosDeContacto, .seccionMediosDeContacto .red2 .informacionMediosDeContacto, .seccionMediosDeContacto .red3 .informacionMediosDeContacto, .seccionMediosDeContacto .red4 .informacionMediosDeContacto {
  display: flex;
  justify-content: center; }

.contenedorProductos .seccionBotellas .card .imgProductos, .contenedorProductos .seccionLatas .card .imgProductos, .contenedorProductos .seccionPromos .card .imgProductos {
  width: 150px;
  height: 160px; }

.seccionServicios div .card .imgServicios {
  width: 150px;
  height: 150px; }

/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------
KEYFRAMES 
---------------------------------------------------------------------------------------------*/
@keyframes cambiarColores {
  10% {
    color: #571845; }
  25% {
    color: #900c3e; }
  50% {
    color: #c70039; }
  75% {
    color: #ff5733; }
  75% {
    color: #e0ff00; } }

/*--------------------------------------------------------------------------------------------
MIXIN
---------------------------------------------------------------------------------------------*/
* {
  font-family: "Lato";
  background-color: #291307;
  color: #ffffff; }
