@charset "UTF-8";
@keyframes reflejar {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    color: #fffaa8; }
  100% {
    transform: scale(1); } }

/*
.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}
*/
header nav {
  background-color: #fffaa8; }
  header nav div div div a:hover {
    font-weight: bold; }

footer {
  background-color: #fffaa8; }
  footer div nav {
    background-color: #fffaa8; }

@keyframes reflejar {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    color: #fffaa8; }
  100% {
    transform: scale(1); } }

/*
.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}
*/
.seccionCarrousel div div div div img {
  max-height: 600px; }

.seccionServicios div h1 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.seccionServicios div div div div div img {
  width: 150px;
  height: 160px; }

.seccionUbicacion div h2 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

/*-------------------------------------------------------------------
 TAMAÑO ORIGINAL
 --------------------------------------------------------------------*/
.containerNosotros {
  display: grid;
  margin-bottom: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
  .containerNosotros .seccionImagen {
    grid-area: seccionImagen; }
    .containerNosotros .seccionImagen .fotoInicialNos {
      max-height: 400px;
      width: 100%;
      border: none; }
  .containerNosotros .seccionNosotros {
    grid-area: seccionNosotros; }
    .containerNosotros .seccionNosotros .tituloNosotros {
      text-align: center;
      background-color: #4e4c534d;
      animation-name: reflejar;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }
    .containerNosotros .seccionNosotros .descripcionNosotros {
      margin-right: 16px;
      margin-left: 16px; }
  .containerNosotros .seccionMultimedia {
    grid-area: seccionMultimedia; }
    .containerNosotros .seccionMultimedia .tituloMulti {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 8px;
      background-color: #4e4c534d;
      animation-name: reflejar;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }
    .containerNosotros .seccionMultimedia .contenedorVideos {
      display: flex;
      justify-content: space-between; }
      .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
        border: none;
        width: 40%;
        margin: auto; }
      .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
        border: none;
        width: 40%;
        margin: auto; }
  .containerNosotros .seccionProveedores {
    grid-area: seccionProveedores;
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: "tituloProv tituloProv tituloProv tituloProv" "proveedor1 proveedor2 proveedor3 proveedor4"; }
    .containerNosotros .seccionProveedores .tituloProv {
      grid-area: tituloProv;
      text-align: center;
      margin-top: 16px;
      background-color: #4e4c534d;
      animation-name: reflejar;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear; }
    .containerNosotros .seccionProveedores .proveedor1 {
      grid-area: proveedor1;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px; }
      .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
        width: 150px;
        height: 100px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
        background-color: white;
        border: none;
        font-weight: bold; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor2 {
      grid-area: proveedor2;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px; }
      .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
        width: 150px;
        height: 100px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
        background-color: white;
        border: none;
        font-weight: bold; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor3 {
      grid-area: proveedor3;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px; }
      .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
        width: 150px;
        height: 100px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
        background-color: white;
        border: none;
        font-weight: bold; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
          background-color: #fffaa8; }
    .containerNosotros .seccionProveedores .proveedor4 {
      grid-area: proveedor4;
      border: none;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      padding: 4px; }
      .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
        width: 150px;
        height: 100px;
        margin-bottom: 16px;
        margin-top: 8px; }
      .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
        background-color: white;
        border: none;
        font-weight: bold; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
          background-color: #fffaa8; }

/*-------------------------------------------------------------------
 MEDIA 1
 --------------------------------------------------------------------*/
@media (max-width: 768px) {
  .containerNosotros {
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
    .containerNosotros .seccionImagen {
      grid-area: seccionImagen; }
      .containerNosotros .seccionImagen .fotoInicialNos {
        max-height: 400px;
        width: 100%;
        border: none; }
    .containerNosotros .seccionNosotros {
      grid-area: seccionNosotros; }
      .containerNosotros .seccionNosotros .tituloNosotros {
        text-align: center;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionNosotros .descripcionNosotros {
        margin-right: 16px;
        margin-left: 16px; }
    .containerNosotros .seccionMultimedia {
      grid-area: seccionMultimedia; }
      .containerNosotros .seccionMultimedia .tituloMulti {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionMultimedia .contenedorVideos {
        display: flex;
        justify-content: space-between; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
          border: none;
          width: 40%;
          margin: auto; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
          border: none;
          width: 40%;
          margin: auto; }
    .containerNosotros .seccionProveedores {
      grid-area: seccionProveedores;
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "tituloProv tituloProv " "proveedor1 proveedor2"  "proveedor3 proveedor4"; }
      .containerNosotros .seccionProveedores .tituloProv {
        grid-area: tituloProv;
        text-align: center;
        margin-top: 16px;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionProveedores .proveedor1 {
        grid-area: proveedor1;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor2 {
        grid-area: proveedor2;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor3 {
        grid-area: proveedor3;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor4 {
        grid-area: proveedor4;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
            background-color: #fffaa8; } }

/*-------------------------------------------------------------------
 MEDIA 2
 --------------------------------------------------------------------*/
@media (max-width: 480px) {
  .containerNosotros {
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "seccionImagen" "seccionNosotros" "seccionMultimedia" "seccionProveedores"; }
    .containerNosotros .seccionImagen {
      grid-area: seccionImagen;
      display: none; }
      .containerNosotros .seccionImagen .fotoInicialNos {
        max-height: 400px;
        width: 100%;
        border: none; }
    .containerNosotros .seccionNosotros {
      grid-area: seccionNosotros; }
      .containerNosotros .seccionNosotros .tituloNosotros {
        text-align: center;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionNosotros .descripcionNosotros {
        margin-right: 16px;
        margin-left: 16px; }
    .containerNosotros .seccionMultimedia {
      grid-area: seccionMultimedia; }
      .containerNosotros .seccionMultimedia .tituloMulti {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionMultimedia .contenedorVideos {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video1 {
          border: none;
          width: 80%;
          margin-top: 16px; }
        .containerNosotros .seccionMultimedia .contenedorVideos .video2 {
          border: none;
          width: 80%;
          margin-top: 16px; }
    .containerNosotros .seccionProveedores {
      grid-area: seccionProveedores;
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "tituloProv" "proveedor1" "proveedor2"  "proveedor3"  "proveedor4"; }
      .containerNosotros .seccionProveedores .tituloProv {
        grid-area: tituloProv;
        text-align: center;
        margin-top: 16px;
        background-color: #4e4c534d;
        animation-name: reflejar;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: linear; }
      .containerNosotros .seccionProveedores .proveedor1 {
        grid-area: proveedor1;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor1 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor1 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor2 {
        grid-area: proveedor2;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor2 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor2 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor3 {
        grid-area: proveedor3;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor3 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor3 .btnCatalogo:hover {
            background-color: #fffaa8; }
      .containerNosotros .seccionProveedores .proveedor4 {
        grid-area: proveedor4;
        border: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        padding: 4px; }
        .containerNosotros .seccionProveedores .proveedor4 .imgProveedor {
          width: 150px;
          height: 100px;
          margin-bottom: 16px;
          margin-top: 8px; }
        .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo {
          background-color: white;
          border: none;
          font-weight: bold; }
          .containerNosotros .seccionProveedores .proveedor4 .btnCatalogo:hover {
            background-color: #fffaa8; } }

@keyframes reflejar {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    color: #fffaa8; }
  100% {
    transform: scale(1); } }

/*
.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}
*/
.contenedorProductos .seccionBotellas h1 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.contenedorProductos .seccionBotellas div div div .card-img-top {
  width: 150px;
  height: 160px; }

.contenedorProductos .seccionBotellas div div div div button {
  border: none; }
  .contenedorProductos .seccionBotellas div div div div button:hover {
    background-color: #4e4c534d;
    border-radius: 30px; }
  .contenedorProductos .seccionBotellas div div div div button .imgCarrito {
    width: 24px; }

.contenedorProductos .seccionLatas h2 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.contenedorProductos .seccionLatas div div div .card-img-top {
  width: 150px;
  height: 160px; }

.contenedorProductos .seccionLatas div div div div button {
  border: none; }
  .contenedorProductos .seccionLatas div div div div button:hover {
    background-color: #4e4c534d;
    border-radius: 30px; }
  .contenedorProductos .seccionLatas div div div div button .imgCarrito {
    width: 24px; }

.contenedorProductos .seccionPromos h2 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.contenedorProductos .seccionPromos div div div .card-img-top {
  width: 150px;
  height: 160px; }

.contenedorProductos .seccionPromos div div div div button {
  border: none; }
  .contenedorProductos .seccionPromos div div div div button:hover {
    background-color: #4e4c534d;
    border-radius: 30px; }
  .contenedorProductos .seccionPromos div div div div button .imgCarrito {
    width: 24px; }

@keyframes reflejar {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    color: #fffaa8; }
  100% {
    transform: scale(1); } }

/*
.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}
*/
.container-fluid h1 {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.container-fluid section div div div div .contenedorImgProd {
  display: flex;
  justify-content: center; }
  .container-fluid section div div div div .contenedorImgProd .imgCatalogo {
    padding: 4px;
    width: 150px;
    height: 160px;
    margin: auto; }

@keyframes reflejar {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    color: #fffaa8; }
  100% {
    transform: scale(1); } }

/*
.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}
*/
.tituloContacto {
  background-color: #4e4c534d;
  animation-name: reflejar;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.seccionMediosDeContacto div div div div img {
  width: 150px;
  height: 160px; }

.seccionMediosDeContacto div div div div div p {
  animation-name: cambiarColores;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

@keyframes cambiarColores {
  10% {
    color: #571845; }
  25% {
    color: #900c3e; }
  50% {
    color: #c70039; }
  75% {
    color: #ff5733; }
  75% {
    color: #fffaa8; } }
