/*-------------------------------------------------------------------
 ESTILO A ETIQUETAS GLOBALES
 --------------------------------------------------------------------*/

.colorPrincipalFondo{
    background-color: #fffaa8;
}

.colorFondoTitulos{
    background-color: #4e4c534d;
}

.imgCatalogo{
    padding: 4px;
}

.tituloMaquinaEstilo{
    font-size: larger;
    display: block;
    white-space: nowrap;
    animation: typing 5s steps(12), blinker .5s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blinker{
    50% {border-color: transparent;}
}

/*-------------------------------------------------------------------
 ESTILO PAGE NOSOTROS
 --------------------------------------------------------------------*/

.card-img-top{
    max-width: 200px;
}

.imgPortada{
    max-height: 600px;
}

h4{
    font-size: medium;
}

.imgProveedores{
    height: 80px;
}

/*-------------------------------------------------------------------
 ESTILO PAGE HOME
 --------------------------------------------------------------------*/

.nav-link:hover{
    font-weight: bold;
}

/*-------------------------------------------------------------------
 ESTILO PAGE PRODUCTOS
 --------------------------------------------------------------------*/

.imgCarrito{
    width: 24px;
}

.btnCarrito{
    border: none;
}

.btnCarrito:hover{
    background-color: #fffaa8 ;
}
