@import "variables";

.tituloContacto{
    @include formatoDeTitulo;
}

.seccionFormulario{
    font-size: 20px;
    .botonEnvio{
        &:hover{
            background-color: map-get($map: $misColores, $key: color-principal);
            color: black;
            font-weight: bold;
        }
        
    }
}


.seccionMediosDeContacto{
   
    .imgMediosDeContacto{
        @extend %tamañoCard;
    }
    .informacionMediosDeContacto{
        @extend %centrarConFlex;
        a{
            text-decoration: none;
            font-size: 16px;
            @include themeAnimacionInfinita(cambiarColores)
        }
    }
}