@import "variables";

.container-fluid{
    h1{
        @include formatoDeTitulo;
    }
    section{
        .contenedorImgProd{
            @extend %centrarConFlex;
        
            .imgCatalogo{
                padding: 4px;
                width: $ancho-img-card;
                height: $alto-img-card;
                margin: auto;
            }
        }
    }
    
}