@import "variables";

header{
    font-size: 1.5rem;
    nav{
        background-color: $color-amarillo;
        .nav-link{
            &:hover{
                font-weight: bold;
            }
        }  
    }
}
