@import "variables";

header{
    nav{
        background-color: $color-amarillo;
        div{
            div{
                div{
                    a{
                        &:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

footer{
    background-color: $color-amarillo;
    div{
        nav{
            background-color: $color-amarillo;
        }
    }
}