@import "variables";

.seccionCarrousel{
    div{
        div{
            div{
                div{
                    img{
                        max-height: 600px;
                    }
                }
            }
        }
    }
}

.seccionServicios{
    div{
        h1{
            background-color: $color-gris;
            @include themeReflejar
        }
        div{
            div{
                div{
                    div{
                        img{
                            width: $ancho-img-card;
                            height: $alto-img-card;
                        }
                    }
                }
            }
        }
    }
}

.seccionUbicacion{
    div{
        h2{
            background-color: $color-gris;
            @include themeReflejar
        }
    }
}