/*-------------------------------------------------------------------
 TAMAÑO ORIGINAL
 --------------------------------------------------------------------*/
.containerNosotros{
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas:"seccionImagen"
                        "seccionNosotros"
                        "seccionMultimedia"
                        "seccionProveedores";
    
    .seccionImagen{
        grid-area: seccionImagen;
        .fotoInicialNos{
            max-height: 500px;
            width: 100%;
            border: none;
        }
    }

    .seccionNosotros{
        grid-area: seccionNosotros;
        .tituloNosotros{
            text-align: center;
            background-color: $color-gris;
            @include themeAnimacion(reflejar)
        }
        .descripcionNosotros{
            margin-right: 16px;
            margin-left: 16px;
            font-family: map-get($map: $misTipografias, $key: font-secundaria);
        }
    }

    .seccionMultimedia{
        grid-area: seccionMultimedia;
        .tituloMulti{
            text-align: center;
            margin-top: 8px;
            margin-bottom: 8px;
            background-color: $color-gris;
            @include themeAnimacion(reflejar)
        }
        .contenedorVideos{
            display: flex;
            justify-content: space-between;
            .video1{
                border: none;
                width: 40%;
                margin: auto;
            }
            .video2{
                border: none;
                width: 40%;
                margin: auto;
            }
        } 
    }

    .seccionProveedores{
        grid-area: seccionProveedores;
        display: grid;
        margin-bottom: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto ;
        justify-content: center;
        align-content: center;
        grid-template-areas:"tituloProv tituloProv tituloProv tituloProv"
                        "proveedor1 proveedor2 proveedor3 proveedor4";
        .tituloProv{
            grid-area: tituloProv;
            text-align: center;
            margin-top: 16px;
            background-color: map-get($map: $misColores, $key: color-secundario);
            @include themeAnimacion(reflejar)
        }
        .proveedor1{
            grid-area: proveedor1;
            @include proveedorCard;
            .imgProveedor{
                @include tamañoImgProveedor;
            }
            
            .btnCatalogo{
                @include botonCatalogo;
                &:hover{
                    background-color: #fffaa8;
                }
            }
            
        }
        
        .proveedor2{
            grid-area: proveedor2;
            @include proveedorCard;
            .imgProveedor{
                @include tamañoImgProveedor;
            }
            
            .btnCatalogo{
                @include botonCatalogo;
                &:hover{
                    background-color: #fffaa8;
                }
            }
        }
        
        .proveedor3{
            grid-area: proveedor3;
            @include proveedorCard;
            .imgProveedor{
                @include tamañoImgProveedor;
            }
            
            .btnCatalogo{
                @include botonCatalogo;
                &:hover{
                    background-color: #fffaa8;
                }
            }
        }
        
        .proveedor4{
            grid-area: proveedor4;
            @include proveedorCard;
            .imgProveedor{
                @include tamañoImgProveedor;
            }
            
            .btnCatalogo{
                @include botonCatalogo;
                &:hover{
                    background-color: #fffaa8;
                }
            }
        }
        
    }   
}


/*-------------------------------------------------------------------
 MEDIA 1
 --------------------------------------------------------------------*/
@media (max-width: 768px) {
    .containerNosotros{
        display: grid;
        margin-bottom: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: auto ;
        justify-content: center;
        align-content: center;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-areas:"seccionImagen"
                            "seccionNosotros"
                            "seccionMultimedia"
                            "seccionProveedores";
        
        .seccionImagen{
            grid-area: seccionImagen;
            .fotoInicialNos{
                max-height: 400px;
                width: 100%;
                border: none;
            }
        }
    
        .seccionNosotros{
            grid-area: seccionNosotros;
            .tituloNosotros{
                text-align: center;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .descripcionNosotros{
                margin-right: 16px;
                margin-left: 16px;
            }
        }
    
        .seccionMultimedia{
            grid-area: seccionMultimedia;
            .tituloMulti{
                text-align: center;
                margin-top: 8px;
                margin-bottom: 8px;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .contenedorVideos{
                display: flex;
                justify-content: space-between;
                .video1{
                    border: none;
                    width: 40%;
                    margin: auto;
                }
                .video2{
                    border: none;
                    width: 40%;
                    margin: auto;
                }
            } 
        }
    
        .seccionProveedores{
            grid-area: seccionProveedores;
            display: grid;
            margin-bottom: 16px;
            grid-template-columns: 1fr 1fr  ;
            grid-template-rows: auto ;
            justify-content: center;
            align-content: center;
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-areas:"tituloProv tituloProv "
                            "proveedor1 proveedor2" 
                            "proveedor3 proveedor4";
            .tituloProv{
                grid-area: tituloProv;
                text-align: center;
                margin-top: 16px;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .proveedor1{
                grid-area: proveedor1;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
                
            }
            
            .proveedor2{
                grid-area: proveedor2;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
            .proveedor3{
                grid-area: proveedor3;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
            .proveedor4{
                grid-area: proveedor4;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
        }   
    }
}
/*-------------------------------------------------------------------
 MEDIA 2
 --------------------------------------------------------------------*/
@media (max-width: 480px) {
    .containerNosotros{
        display: grid;
        margin-bottom: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: auto ;
        justify-content: center;
        align-content: center;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-areas:"seccionImagen"
                            "seccionNosotros"
                            "seccionMultimedia"
                            "seccionProveedores";
        
        .seccionImagen{
            grid-area: seccionImagen;
            display: none;
            .fotoInicialNos{
                max-height: 400px;
                width: 100%;
                border: none;
            }
        }
    
        .seccionNosotros{
            grid-area: seccionNosotros;
            .tituloNosotros{
                text-align: center;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .descripcionNosotros{
                margin-right: 16px;
                margin-left: 16px;
            }
        }
    
        .seccionMultimedia{
            grid-area: seccionMultimedia;
            .tituloMulti{
                text-align: center;
                margin-top: 8px;
                margin-bottom: 8px;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .contenedorVideos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .video1{
                    border: none;
                    width: 80%;
                    margin-top: 16px;
                }
                .video2{
                    border: none;
                    width: 80%;
                    margin-top: 16px;
                }
            } 
        }
    
        .seccionProveedores{
            grid-area: seccionProveedores;
            display: grid;
            margin-bottom: 16px;
            grid-template-columns: auto;
            grid-template-rows: auto ;
            justify-content: center;
            align-content: center;
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-areas:"tituloProv"
                            "proveedor1"
                            "proveedor2" 
                            "proveedor3" 
                            "proveedor4";
            .tituloProv{
                grid-area: tituloProv;
                text-align: center;
                margin-top: 16px;
                background-color: $color-gris;
                @include themeAnimacion(reflejar)
            }
            .proveedor1{
                grid-area: proveedor1;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                } 
            }
            .proveedor2{
                grid-area: proveedor2;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
            .proveedor3{
                grid-area: proveedor3;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
            .proveedor4{
                grid-area: proveedor4;
                @include proveedorCard;
                .imgProveedor{
                    @include tamañoImgProveedor;
                }
                
                .btnCatalogo{
                    @include botonCatalogo;
                    &:hover{
                        background-color: #fffaa8;
                    }
                }
            }
            
        }   
    }
}