@import "variables";

.contenedorProductos{
    .seccionBotellas{
        h1{
            @include formatoDeTitulo;
        }
        .imgProductos{
            @extend %tamañoCard;
        }
        .footerProductos{
            button{
                border: none;
                &:hover{
                    background-color: map-get($map: $misColores, $key: color-secundario);
                    border-radius: 30px;
                }
                .imgCarrito{
                    width: 24px;
                }
            }
        }
    }

    .seccionLatas{
        h2{
            @include formatoDeTitulo;
        }
        .imgProductos{
            @extend %tamañoCard;
        }
        .footerProductos{
            button{
                border: none;
                &:hover{
                    background-color: map-get($map: $misColores, $key: color-secundario);
                    border-radius: 30px;
                }
                .imgCarrito{
                    width: 24px;
                }
            }
        }
    }

    .seccionPromos{
        h2{
            @include formatoDeTitulo;
        }
        .imgProductos{
            @extend %tamañoCard;
        }
        .footerProductos{
            button{
                border: none;
                &:hover{
                    background-color: map-get($map: $misColores, $key: color-secundario);
                    border-radius: 30px;
                }
                .imgCarrito{
                    width: 24px;
                }
            }
        }
    }
}