$color-ppal: #291307;
$color-fondo: #1f2023;
$color-boton:#e5f876;
$color-boton2: #393b43;
$color-fondo-card: #27282d;
$color-gris: #4e4c534d;
$color-amarillo: #fffaa8;
$color-burbuja: #e1dad4;
$color-texto: #ffffff;
$color-fondo-amarillo: #e0ff00;
$color-fndo-card: #35241e;

$ancho-img-card: 150px;
$alto-img-card: 160px;

/*--------------------------------------------------------------------------------------------
KEYFRAMES 
---------------------------------------------------------------------------------------------*/

@keyframes cambiarColores{
    10%{
        color: #571845;
    }
    25%{
        color: #900c3e;
    }
    50%{
        color: #c70039;
    }
    75%{
        color: #ff5733;
    }
    75%{
        color: #e0ff00;
    }
}


/*--------------------------------------------------------------------------------------------
MIXIN
---------------------------------------------------------------------------------------------*/

//mixin animacion
@mixin themeAnimacion($keyframeAnimacion) {
    animation-name: $keyframeAnimacion;
    animation-iteration-count: 1;
    animation-duration: 6s;
    animation-timing-function: linear;
}

@mixin themeAnimacionInfinita($keyframeAnimacion) {
    animation-name: $keyframeAnimacion;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
}

//SECCION EMPRESARIALES
@mixin estiloImagenCombo{
    padding: 4px;
    width: $ancho-img-card;
    height: $alto-img-card;
    margin: auto;
}
@mixin contenidoProductoFlexSombra {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 10px 0px rgba(229,248,118,1);
}

//FOOTER
@mixin estiloTituloFooter{
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: $color-fondo-amarillo
}

@mixin estiloSubtituloFooter{
    font-size: 12px;
    text-align: center;
}

//SECCION MOSOTROS
@mixin proveedorCard{
    border: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    background-color: $color-fondo-card;
}

@mixin tamañoImgProveedor{
    width: 150px;
    height: 100px;
    margin-bottom: 16px;
    margin-top: 8px;
}

@mixin botonCatalogo {
    box-shadow: 0 0 10px 0 #e0ff00 inset, 0 0 10px 4px #e0ff00;
    background-color: $color-amarillo;
}

@mixin botonPrincipal {
    background-color: #e0ff00;
    color: $color-boton2;
    font-weight: bold;
    border: none;
}


@mixin formatoDeTitulo {
    background-color: map-get($map: $misColores, $key: color-fondo-card);
}

/*--------------------------------------------------------------------------------------------
EXTENDS 
---------------------------------------------------------------------------------------------*/

%centrarConFlex{
    display: flex;
    justify-content: center;
}

%tamañoCard{
    width: $ancho-img-card;
    height: $alto-img-card;
}


/*--------------------------------------------------------------------------------------------
MAPAS
---------------------------------------------------------------------------------------------*/
$misColores: (
    color-principal: #fffaa8,
    color-secundario: #35241e,
    color-fondo-card: #35241e,
);

$misTipografias: (
    font-secundaria: 'Lato',
    font-principal: 'Lato',
    font-aux: 'DM Sans',
    font-aux1: 'Amatic SC',
    font-aux2: 'Mali',
);
