@import "../utilities//variables";


.seccionServicios{
    div{
        .tituloServicios{
            @include formatoDeTitulo;
        }
        .card{
            background-color: $color-fndo-card;
            .imgServicios{
                @extend %tamañoCardServicios;
                background-color:  $color-fndo-card;
            }
            .contenidoServicio{
                background-color:  $color-fndo-card;
                h2{
                    background-color: $color-fndo-card;
                }
                h3{
                    background-color: $color-fndo-card;
                }
                p{
                    font-family: map-get($map: $misTipografias, $key: font-principal);
                    background-color: $color-fndo-card;
                }
            }
        }
       
    }
}

.seccionUbicacion{
    div{
        h2{
            @include formatoDeTitulo;
        }
    }
}