@import "../utilities//variables";

.contenedorProductos{
    .seccionBotellas{
        
        h1{
            @include formatoDeTitulo;
        }
        .card{
            box-shadow: 5px 5px 10px 0px rgba(229,248,118,1);
            .imgProductos{
                @extend %tamañoCard;
            }
            .footerProductos{
                button{
                    border: none;
                    &:hover{
                        @include botonCatalogo;
                        i{
                           background-color: $color-amarillo;
                           color: black;
                        }
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        
    }

    .seccionLatas{
        h2{
            @include formatoDeTitulo;
        }
        .card{
            box-shadow: 5px 5px 10px 0px rgba(229,248,118,1);
            .imgProductos{
                @extend %tamañoCard;
            }
            .footerProductos{
                button{
                    border: none;
                    &:hover{
                        @include botonCatalogo;
                        i{
                           background-color: $color-amarillo;
                           color: black;
                        }
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        
    }

    .seccionPromos{
        h2{
            @include formatoDeTitulo;
        }
        .card{
            box-shadow: 5px 5px 10px 0px rgba(229,248,118,1);
            .imgProductos{
                @extend %tamañoCard;
            }
            .footerProductos{
                button{
                    border: none;
                    &:hover{
                        @include botonCatalogo;
                        i{
                           background-color: white;
                           color: black;
                        }
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        
    }
}